// navbar

.navbar {
    @media (max-width: 1024px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.navbar .about {
    @media (max-width: 1024px) {
        gap: 20px;
    }
}
.navbar .about a{
    @media (max-width: 1024px) {
        font-size: 20px;
        text-transform: uppercase;
    }
    @media (max-width: 530px) {
        font-size: 14px;
        text-transform: uppercase;
    }
}
.navbar img{
    @media (max-width: 530px) {
        width: 120px;
        height: auto;
    }
}

// footer

.footer p{
    @media (max-width: 620px) {
        font-size: 16px;
        text-align: center;
    }
}

// error page

.error-container h1{
    @media (max-width: 620px) {
        font-size: 100px;
    }
}
.error-container h2{
    @media (max-width: 620px) {
        font-size: 18px;
        padding-left: 65px;
        padding-right: 65px;
        text-align: center;
    }
}
